<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
<h1 class="title">Password Generator</h1>
<div class="field">
  <label>Password Length</label>
  <input class="input" (input)="get_length($event.target.value)" />
</div>

<div>
  <label>Letters</label>
  <input (change)="changed_letter()" type="checkbox" />
</div>

<div>
  <label>Numbers</label>
  <input (change)="changed_numbers()"  type="checkbox" />
</div>

<div>
  <label>Symbols</label>
  <input (change)="changed_symbols()"  type="checkbox" />
</div>
<div>
  <input class="button is-info" type="button" [disabled]="!(length && (includeletters || includenumbers || includesymbols))" (click)="OnButtonClick()"  value="Generate!"/>
</div>

<div *ngIf="GetNewPassword()">
  <label >Your password is </label>
  <input class="input"  [value]=" GetNewPassword()"/>
</div>
</div>
</div>
</div>